<ngb-accordion [closeOthers]="true" activeIds="static-1">
  <ngb-panel id="static-1" title="Simple">
    <ng-template ngbPanelContent>
      1. Check docs at https://ng-bootstrap.github.io/#/components/accordion/examples
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-2">
    <ng-template ngbPanelTitle>
      <span>&#9733; <b>Fancy</b> title &#9733;</span>
    </ng-template>
    <ng-template ngbPanelContent>
      2. Check docs at https://ng-bootstrap.github.io/#/components/accordion/examples
    </ng-template>
  </ngb-panel>
  <ngb-panel id="static-3" title="Disabled" [disabled]="true">
    <ng-template ngbPanelContent>
      3. Check docs at https://ng-bootstrap.github.io/#/components/accordion/examples
    </ng-template>
  </ngb-panel>
</ngb-accordion>
