<div class="container">
  <div class="row">
    <div class="col-12">

      <div class="component-demo">
        <h2>ACCORDION</h2>
        <div class="card">
          <ngb-accordion [closeOthers]="true" activeIds="static-1">
            <ngb-panel id="static-1" title="Simple">
              <ng-template ngbPanelContent>
                1. Check docs at https://ng-bootstrap.github.io/#/components/accordion/examples
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-2">
              <ng-template ngbPanelTitle>
                <span>&#9733; <b>Fancy</b> title &#9733;</span>
              </ng-template>
              <ng-template ngbPanelContent>
                2. Check docs at https://ng-bootstrap.github.io/#/components/accordion/examples
              </ng-template>
            </ngb-panel>
            <ngb-panel id="static-3" title="Disabled" [disabled]="true">
              <ng-template ngbPanelContent>
                3. Check docs at https://ng-bootstrap.github.io/#/components/accordion/examples
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>

      <div class="component-demo">
        <h2>ALERT</h2>
        <div class="card">

          <ngb-alert [dismissible]="false">
            <strong>Warning!</strong> Better check yourself, https://ng-bootstrap.github.io/#/components/alert/examples
          </ngb-alert>
        </div>
      </div>

      <div class="component-demo">
        <h2>CHECKBOX</h2>
        <div class="card">

          <div class="btn-group btn-group-toggle">

            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
            </label>
            <label class="btn-primary" ngbButtonLabel>
              <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
